@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 100px;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    border-bottom: 1px solid red;
}

.header-left, .header-right {
    display: flex;
    align-items: center;
}

.header-right .btnNotification {
    background: transparent;
    border: 0;
    width: 70px;
    height: 30px;
    font-size: 1.5em;
}
.header-right .btnLogin {
    width: 70px;
    height: 30px;
    background: red;
    border: 2px solid red;
    border-radius: 6px;
    outline: none;
    font-size: 1em;
    font-weight: 500;
    margin-left: 10px;
    color: white;
}

.header-right .btnLogin:hover {
    background: white;
    color: red;
}

.logo {
    color: red;
    user-select: none;
    font-size: 2em;
    font-weight: 800;
    margin-right: 20px;
}

header .navigation a {
    position: relative;
    font-size: 1em;
    color: black;
    text-decoration: none;
    font-weight: 600;
    margin-left: 30px;
}

header .navigation a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: red;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

header .navigation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

