@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    margin: 0;
    padding: 0;
  }
  body {
 overflow: hidden; 
}
  .sidebar{
    position: fixed;
    left: 0;
    top: 0px;
    height: 100%;
    width: 230px;
    background: #36454F;
    z-index: 100;
    transition: all 0.5s ease;
  }

  .sidebar .logo-details {
    margin-left: 0;
    margin-top: 9px;
    height: 20px;
    width: 100%;
    align-items: center;
    padding-bottom: 20px;
  }


  .sidebar .logo-details .logo-name {
    font-size: 18px;
    font-weight: bold;
    color: #fff;

  }
  .sidebar .logo-details i{
    color: #fff;
    padding-left: 0px;
    width: 40px;
    line-height: 26px;
    text-align: center;
    height: 20px;
    transition: all 0.3s ease;
  }


  .sidebar .nav-links {
    height: 100%;
    text-align: left;
    padding-left: 0px;
  }
  .sidebar .nav-links li {
    position: relative;
    list-style: none;
    transition: all 0.4s ease;
}
.sidebar .nav-links li:hover {
    background: #1d1b31;
}
.sidebar .nav-links li i{
    color: #fff;
    margin-right: 10px;
    padding-left: 10px;
    transition: all 0.4s ease;
}
.sidebar .nav-links li a{
    height: 34px;

    display: flex;
    align-items: center;
    text-decoration: none;
}


.sidebar .nav-links li .link_name {
    font-size: 14px;
    color: #fff;
    vertical-align: middle;
    text-decoration: none;
    font-weight:normal;
}
.sidebar .nav-links li .ionc-links{
display: flex;
align-items: center;
justify-content: space-between;
}

.sidebar .nav-links li .sub-links{
    padding-top: 6px;
    padding-left: 40px;
    background: #293238	;

}

.sidebar .nav-links li.showMenu .sub-links {
display: block;
}
.sidebar .nav-links li.showMenu .bx-chevron-down {
    transform: rotate(180deg);
}

.sidebar .nav-links li .bx-chevron-down {
    align-items: center;
    justify-content: center;
}



.sidebar .nav-links li .sub-links{
    display: none;
}
.sidebar .nav-links li .sub-links a {
    font-size: 12px;
    color: #fff;
    text-decoration: none;
    font-weight:200;
    white-space: nowrap;
    opacity: 0.5;
    transition: all 0.4s,ease;
}
.sidebar .nav-links li .sub-links a:hover {
    opacity: 1;
}

.sidebar .nav-links li .sub-links .link_name {
    display: none;
}

.home-section{
    position:relative;
    background: #aeb5bb;
    left: 230px;
    height: 100%;
    width: calc(100% - 230px);
    transition: all 0.5s ease;
}

.home-section .home-content{
    background: #36454F;
    height: 40px;
width: 40px;

width: 100%;}
.home-section .home-content i{
color: #fff;
align-items: center;
height: 40px;
width: 40px;
display: flex;
font-size: 20px;
}


.sidebar.close ~ .home-section{
    left: 40px;
    width: calc(100% - 40px);
}

.sidebar.close .nav-links li .sub-links .link_name {
    font-size: 18px;
    opacity: 1;
    display: block;
}
.sidebar.close .nav-links li .bx-chevron-down,
.sidebar.close .nav-links li span,
.sidebar.close .nav-links li:hover .bx-chevron-down{
    display: none;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
}
.sidebar.close .nav-links li:hover .sub-links {
    top: 0;
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
}   
.sidebar.close .nav-links li .sub-links {
    position: absolute;
    left: 100%;
    top: -10px;
    margin-top: 0;
    padding: 10px 20px;
    border-radius: 0 6px 6px 0;
    opacity: 0;
    display: block;
    pointer-events: none;
    transition: 0s;
    background: #293238;
}
.sidebar.close .nav-links li a .link_name {
    opacity: 0;
    pointer-events: none;
}
.sidebar.close .logo-details .logo-name {
    opacity: 0;
    pointer-events: none;
  }
  .sidebar.close{
    width: 40px;
      } 