*{
    margin:0;
}

body{
    font-family: "Roboto", sans-serif;
}

.navbar{
    width: 100%;
    height: 50px;
    background-color: black;
    position: fixed; /* Thanh điều hướng luôn cố định */
    top: 0; /* Gắn thanh điều hướng ở đầu trang */
    z-index: 999; /* Đảm bảo thanh điều hướng nằm trên các phần tử khác */
}

.navbar-container{
    display: flex;
    align-items: center;
    padding: 0 50px;
    height: 100%;
    color: white;
    font-family: "Sen", sans-serif;

}

.logo-container a{
    flex: 1;
    text-decoration: none;
}

.logo{
    font-family: "Sen", sans-serif;
    font: 30px;
    color: red
}

.menu-container{
    flex: 6;
}

.menu-list{
    display: flex;
    list-style: none;
}

.menu-list-item {
    margin-right: 30px;
    padding: 10px 20px; /* Thêm padding để mục lớn hơn và dễ bấm hơn */
    transition: background-color 0.3s ease, color 0.3s ease; /* Thêm hiệu ứng mượt khi hover */
}

.menu-list-item:hover {
    background-color: rgba(255, 255, 255, 0.671); /* Làm nổi bật khi hover */
    border-radius: 5px; /* Tạo hiệu ứng bo tròn khi hover */        
}


.menu-list-item.active{
    font-weight: bold;
}

.profile-container{
    flex: 2 ;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.profile-text-container{
    margin: 0 20px
}

.profile-picture{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.toggle {
    width: 40px;
    height: 20px;
    background-color: white;
    border-radius: 30px;
    display:flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    cursor: pointer; 
    transition: background-color 0.3s ease;
}

.toggle-icon {
    color: goldenrod;
}

.toggle-ball {
    width: 18px;
    height: 18px;
    background-color: black;
    position: absolute;
    right: 1px;
    border-radius: 50%;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.toggle.active {
    background-color: black;
}

.toggle-ball.active {
    background-color: white;
    transform: translateX(-20px);
}


.sidebar{
    width: 50px;
    height: 100%;
    background-color: black;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    
}

.left-menu-icon{
    color: white;
    font-size: 20px;
    margin-bottom: 40px;
}

.container{
    background-color: #151515;
    min-height: calc(100vh - 50px);
    width: 100%;
    color: white;
}

.content-container{
    margin-left: 50px;

}
.featured-content{
    height: 50vh;
    background-color: tomato;
    padding: 60px;
}

.featured-title{
    width: 500px;
}

.featured-desc{
    width: 500px;
    color: lightgrey;
    margin: 30px 0;
}

.featured-button{
    background-color: red;
    color: white;
    padding: 20px 40px;
    font-size: 20px;
    border-radius: 30px;
    border:none;
    outline: none;
    font-weight: bold;
}

.movie-list-container{
    padding: 20px;
}

.movie-list-wrapper{
    position: relative;
    overflow: hidden;
}

.movie-list{
    display:flex;
    height: 300px;
    align-items: center;
    transform: translateX(0);
    transition: all 100ms ease-in-out;
    width: max-content;
}

.movie-list-item{
    margin-right: 30px;
    position: relative;
}

.movie-list-item:hover .movie-list-item-img{
    transform: scale(1.2);
    margin: 0 30px; 
    opacity: 0.5;
}

.movie-list-item:hover .movie-list-item-title,
.movie-list-item:hover .movie-list-item-desc,
.movie-list-item:hover .movie-list-item-button{
    opacity: 1;
}

.movie-list-item-img{
    transition: all 100ms ease-in-out;
    height: 270px;
    width: 400px;
    object-fit: cover;
    border-radius: 20px;

}

.movie-list-item-title {
    background-color: #333;
    padding: 2px 10px; /* Điều chỉnh padding để tiêu đề cân đối */
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    left: 50px; /* Căn chỉnh từ trái với một giá trị nhỏ hơn */
    right: 50px; /* Căn chỉnh từ phải tương tự để đảm bảo cân đối */
    opacity: 0;
    transition: 100ms all ease-in-out;
    box-sizing: border-box; /* Đảm bảo padding không ảnh hưởng đến kích thước */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.movie-list-item-desc {
    background-color: #333;
    padding: 2px 10px; 
    font-size: 14px;
    position: absolute;
    top: 30%; 
    left: 50px; 
    right: 50px; 
    width: auto; 
    opacity: 0;
    transition: 100ms all ease-in-out;
    box-sizing: border-box;
    white-space: normal; 
    overflow: hidden; 
    text-overflow: ellipsis;
    display: -webkit-box; 
    -webkit-line-clamp: 6; 
    -webkit-box-orient: vertical; 
}


.movie-list-item-button {
    padding: 10px 20px;
    background-color: red;
    color: white;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    left: 50px; 
    opacity: 0;
    transition: 100ms all ease-in-out;
}


.arrow-left, .arrow-right {
    font-size: 90px;
    position: absolute;
    top: 90px;
    color: lightgrey;
    opacity: 0.5;
    cursor: pointer;
    z-index: 100; /* Đảm bảo mũi tên không bị che khuất bởi các phần tử khác */
}

.arrow-left {
    left: 0; /* Đặt mũi tên trái ở bên trái */
}

.arrow-right {
    right: 0; /* Đặt mũi tên phải ở bên phải */
}

.arrow-left:hover, .arrow-right:hover {
    opacity: 1; /* Tăng độ trong suốt khi hover */
}

.bookmark-icon {
    position: absolute;
    bottom: 10px;
    right: 50px;
    color: white;
    font-size: 24px;
    opacity: 0; /* Ban đầu ẩn */
    cursor: pointer;
    transition: opacity 0.2s ease-in-out;
}

/* Khi hover vào .movie-list-item, hiển thị biểu tượng bookmark */
.movie-list-item:hover .bookmark-icon {
    opacity: 1; /* Hiển thị biểu tượng khi hover */
}

/* Khi có class 'bookmarked', luôn hiển thị biểu tượng */
.movie-list-item.bookmarked .bookmark-icon {
    opacity: 1; /* Luôn hiển thị khi đã bookmark */
    color: red; 
}


.container{
    /* background-color: white; */
}