/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';
html, body, app-root, mat-sidenav-container {
  height: 100%;
  margin: 0;
}

mat-sidenav {
  height: 100%;
}

mat-sidenav-content {
  padding: 16px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
